<div class="book" data-testing="book-item" *ngIf="book$ | async as b">
  <div class="book--title cursor">
    {{ b?.title }}
  </div>
  <div class="book--content">
    <div class="book--content--cover">
      <img src="{{ b?.coverUrl }}"/>
    </div>
    <div class="book--content--info">
      <div><strong>Author:</strong> {{ b?.authors?.join(',') }}</div>
      <div><strong>Publisher:</strong> {{ b?.publisher }}</div>
      <div>
        <strong>Published:</strong> {{ (b?.publishedDate) }}
      </div>
      <p [innerHTML]="b?.description"></p>
      <div>
        <button mat-flat-button
                color="primary"
                (click)="b?.isAdded ? removeFromList(b?.id) : addToList(b)">
          {{ b?.isAdded ? 'Remove from list' : 'Want to Read' }}
        </button>
      </div>
    </div>
  </div>
</div>
